DATABASE_URL=DATABASE_URL='postgresql://neondb_owner:npg_hNAfQDP9Zy5o@ep-wild-wind-adintpyu-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'
PORT=3001
NODE_ENV=development